{% extends 'companies/base.html' %}
{% load crispy_forms_tags %}
{{ form.media.css }}
{% block content %}
    <div class="content-section">
        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img" src="{{ user.companyprofile.logo.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
          {% if cp_form.errors %}
    {% for field in cp_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in cp_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
          <form method="POST" id="companyProfileForm" data-subcategories-url="{% url 'ajax_load_subcategories' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    User Info
                </legend>
                {{ c_form|crispy }}

                <label for="id_logo">Logo</label>
                <p>{{ cp_form.logo }}</p>

                <label for="id_contact_person">Contact Person</label>
                <p>{{ cp_form.contact_person }}</p>

                <label for="id_contact_number">Contact Number</label>
                <p>{{ cp_form.contact_number }}</p>

                <label for="id_company_field">Field of Business</label>
                <p>{{ cp_form.company_field }}</p>

                <div id="company_category_dropdown">
                    <label for="id_company_category">Category</label>
                    <p>{{ cp_form.company_category }}</p>
                </div>

                <div><a href="javascript:void(0);" onclick="toggleCategoryInputDisplay();">Your field of business not in the list?</a></div><br>
                <div id="hidden_visible_category_input" style="display: none;">
                    <label for="input_company_category">Field of business</label>
                    <input id="input_company_category" type="text" name="input_company_category">
                </div><br>

                <div id="company_subcategory_dropdown">
                    <label for="id_company_subcategory">Sub Category</label>
                    <p>{{ cp_form.company_subcategory }}</p>
                </div>

                <div id="subcategory_present_text"><a href="javascript:void(0);" onclick="toggleSubCategoryInputDisplay();">Your subcategory of business not in the list?</a></div><br>
                <div id="hidden_visible_subcategory_input" style="display: none;">
                    <label for="input_company_subcategory">SubCategory</label>
                    <input id="input_company_subcategory" type="text" name="input_company_subcategory">
                </div><br>

                <label for="id_address">Address</label>
                <p>{{ cp_form.address }}</p>

                <label for="id_city">City</label>
                <p>{{ cp_form.city }}</p>

                <div><a href="javascript:void(0);" onclick="toggleCityInputDisplay();">Your city not present in the list?</a></div><br>
                <div id="hidden_visible_city_input" style="display: none;">
                    <label for="id_state">State</label>
                    <p>{{ cp_form.state }}</p>
                    <label for="input_city">City</label>
                    <input id="input_city" type="text" name="input_city">
                </div><br>

                <div>
                    <label for="input_pincode">Pincode</label>
                    <input id="input_pincode" type="text" name="input_pincode" value="{{ pincode }}">                
                </div><br>

                <label for="id_website_url">Website URL</label>
                <p>{{ cp_form.website_url }}</p>
                <p>{{ cp_form.website_url.help_text }}</p>

                <label for="id_location">Services</label>
                <p>{{ cp_form.services }}</p>
                <p>{{ cp_form.services.help_text }}</p>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Update
                </button>
            </div>
        </form>
        </div>

    </div>
    <script type="text/javascript">
        const toggleCityInputDisplay = () => {
            let hidden_visible_city = document.getElementById('hidden_visible_city_input');
            if (hidden_visible_city.style.display == 'none') {
                hidden_visible_city.style.display = 'block';
                document.getElementById('input_city').setAttribute('required', '');
            } else {
                hidden_visible_city.style.display = 'none';
                document.getElementById('input_city').removeAttribute('required');
                document.getElementById('input_city').value = "";
            }
        }

        const toggleCategoryInputDisplay = () => {
            let hidden_visible_category = document.getElementById('hidden_visible_category_input');
            let hidden_visible_subcategory = document.getElementById('hidden_visible_subcategory_input');
            if (hidden_visible_category.style.display == 'none') {
                document.getElementById('company_category_dropdown').style.display = 'none';
                document.getElementById('id_company_category').selectedIndex = -1;
                document.getElementById('subcategory_present_text').style.display = 'none';
                document.getElementById('company_subcategory_dropdown').style.display = 'none';
                document.getElementById('id_company_subcategory').selectedIndex = -1;
                hidden_visible_category.style.display = 'block';
                hidden_visible_subcategory.style.display = 'block';
                document.getElementById('input_company_category').setAttribute('required', '');
                document.getElementById('input_company_subcategory').setAttribute('required', '');
            } else {
                hidden_visible_category.style.display = 'none';
                hidden_visible_subcategory.style.display = 'none';
                document.getElementById('company_category_dropdown').style.display = 'block';
                document.getElementById('subcategory_present_text').style.display = 'block';
                document.getElementById('company_subcategory_dropdown').style.display = 'block';
                document.getElementById('input_company_category').removeAttribute('required');
                document.getElementById('input_company_subcategory').removeAttribute('required');
                document.getElementById('input_company_category').value = "";
                document.getElementById('input_company_subcategory').value = "";
            }
        }

        const toggleSubCategoryInputDisplay = () => {
            let hidden_visible_category = document.getElementById('hidden_visible_subcategory_input');
            if (hidden_visible_category.style.display == 'none') {
                document.getElementById('company_subcategory_dropdown').style.display = 'none';
                document.getElementById('id_company_subcategory').selectedIndex = -1;
                hidden_visible_category.style.display = 'block';
                document.getElementById('input_company_subcategory').setAttribute('required', '');
            } else {
                hidden_visible_category.style.display = 'none';
                document.getElementById('company_subcategory_dropdown').style.display = 'block';
                document.getElementById('input_company_subcategory').removeAttribute('required');
                document.getElementById('input_company_subcategory').value = "";
            }
        }

        $("#id_company_category").change(function () {
          var url = $("#companyProfileForm").attr("data-subcategories-url"); 
          var categoryId = $(this).val();

          $.ajax({                       
            url: url,                    
            data: {
              'company_category': categoryId
            },
            success: function (data) {   
              $("#id_company_subcategory").html(data);
            }
          });

        });
    </script>
{% endblock content %}
