{% extends 'companies/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img" src="{{ user.companyprofile.logo.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    User Info
                </legend>
                {{ c_form|crispy }}

                <label for="id_logo">Logo</label>
                <p>{{ cp_form.logo }}</p>

                <label for="id_contact_person">Contact Person</label>
                <p>{{ cp_form.contact_person }}</p>

                <label for="id_contact_number">Contact Number</label>
                <p>{{ cp_form.contact_number }}</p>

                <label for="id_company_field">Field of Business</label>
                <p>{{ cp_form.company_field }}</p>

                <label for="id_company_category">Category</label>
                <p>{{ cp_form.company_category }}</p>

                <label for="id_company_subcategory">Sub Category</label>
                <p>{{ cp_form.company_subcategory }}</p>

                <label for="id_address">Address</label>
                <p>{{ cp_form.address }}</p>

                <label for="id_city">City</label>
                <p>{{ cp_form.city }}</p>

                <label for="id_pincode">Pincode</label>
                <p>{{ cp_form.pincode }}</p>

                <div><a href="javascript:void(0);" onclick="toggleDisplay();">Your city not present in the list?</a></div><br>
                <div id="hidden_visible_input" style="display: none;">
                    <label>City</label>
                    <input id="input_city" type="text" name="input_city">
                    <label>State</label>
                    <input id="input_state" type="text" name="input_state">
                    <label>Country</label>
                    <input id="input_country" type="text" name="input_country">
                </div><br>

                <label for="id_website_url">Website URL</label>
                <p>{{ cp_form.website_url }}</p>
                <p>{{ cp_form.website_url.help_text }}</p>

                <label for="id_location">Location</label>
                <p>{{ cp_form.location }}</p>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Update
                </button>
            </div>
        </form>
        </div>

    </div>
    <script type="text/javascript">
    const toggleDisplay = () => {
        let hidden_visible = document.getElementById('hidden_visible_input');
        if (hidden_visible.style.display == 'none') {
            hidden_visible.style.display = 'block';
            document.getElementById('input_city').setAttribute('required', '');
            document.getElementById('input_state').setAttribute('required', '');
            document.getElementById('input_country').setAttribute('required', '');
        } else {
            hidden_visible.style.display = 'none';
            document.getElementById('input_city').removeAttribute('required');
            document.getElementById('input_state').removeAttribute('required');
            document.getElementById('input_country').removeAttribute('required');
            document.getElementById('input_city').value = "";
            document.getElementById('input_state').value = "";
            document.getElementById('input_country').value = "";
        }
     }
</script>
{% endblock content %}
